<body>
  <form>
    <input
      class="input"
      type="text"
      [(ngModel)]="firstName"
      name="search"
      placeholder="pesquisar pokemon"
    />
  </form>

  <div *ngIf="pokemons | async as pokemon">
    <mat-card
      *ngFor="let item of pokemon.pokemon | filter: firstName"
      class="card"
    >
      <h1 style="font-size: 20px; height: 32px; font-family: system-ui">
        {{ item.name }}
      </h1>

      <img
        mat-card-image
        style="height: 120px; width: 120px"
        src="{{ item.img }}"
      />

      <button
        mat-button
        color="basic"
        (click)="
          loadPokemon(
            item.id,
            item.img,
            item.name,
            item.type,
            item.height,
            item.weight,
            item.spawn_time,
            item.weaknesses
          )
        "
      >
        DETALHES
      </button>
    </mat-card>
    <div></div>
  </div>
  <div *ngIf="openModal" id="myModal" class="modal">
    <div class="modal-content">
      <mat-card-title style="margin-top: 1rem">{{ novoName }}</mat-card-title>
      <img
        style="
          border: 3px solid black;
          border-radius: 50%;
          background-color: lightgoldenrodyellow;
          margin-top: 1rem;
          width: 100%;
        "
        src="{{ novoImg }}"
      />
      <p>Tipo de Pokemon : {{ novoType }}</p>
      <p>Altura : {{ novoHeight }}</p>
      <p>Peso : {{ novoWeight }}</p>
      <p>Tempo de Spawn : {{ novoSpawnTime }}</p>
      <p>Fraquezas : {{ novoWeakness }}</p>
      <button mat-button (click)="openModal = false">Cancelar</button>
    </div>
  </div>
</body>
